<%= @game.player_one.name %> attacked <%= @game.player_two.name %>
<br />
<%= @game.player_two.name%>: <%= @game.player_two.hp%>HP
<br />
<form action='/play'>
<input type='submit' value='Play'>
</form>