<form action='/names'>
  <label for='player_one'>Player One: </label>
  <input type='text' name='player_one' placeholder='enter name'>
  <br />
  <label for='player_one' class='h1'>Player Two: </label>
  <input type='text' name='player_two' placeholder='enter name'>
  <br />
  <input type='submit' value='Submit' class='button'>
</form>