<style>
  img {
    border-style: dashed;
    border-color: red;
    border-width: medium;
  }
</style>
<h1>My name is <%= @random_name %></h1>
<p>And today is <%= Time.now.strftime('%A') %></p>
<img src = 'https://i.imgur.com/jFaSxym.png'>